# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# PyInstaller
# These are generated when you bundle your app
build/
dist/
*.spec

# Project specific data
*.log

# OS files
.DS_Store
Thumbs.db

# Local environment variables
.env